* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.flex__row {
  display: flex;
  flex-direction: row;
}
.flex__row_1 {
  flex: 1;
}
.box__size_wh400 {
  width: 400px;
  height: 400px;
}
.box__position_m40 {
  margin: 40px;
}
.box__position_tl40 {
  margin-left: 40px;
  margin-top: 40px;
}
.box__border_grey {
  border: 1px solid grey;
}
